table {
    width: 100%;
    background: white;
    box-shadow: 0 0 4px 4px #888;
}

th {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 4.9;
    text-transform: uppercase;
    background-color: #36304a;
    text-align: center;
    font-weight: 400;
}

td {
    font-family: sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 4.0;
    text-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: #eaf8e6;
}

.doneButton {
    border: 0;
}